fastapi
uvicorn[standard]
psycopg[binary]
psycopg-pool
groq
pgvector
anthropic
httpx
python-dotenv
pydantic
pycountry

pandas
pdf-inspector
xai-sdk
skillner
spacy
sentence-transformers
python-multipart
ipython